<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
CLD.LIFE -- 藏龙岛生活社区 为武汉藏龙岛社区定制论坛，致力于为藏龙岛地区【岛民】提供最真实的信息交流平台。

CLD.LIFE社区是由[@老孙家热干面](https://weibo.com/312460629) 发起和维护，他也是一位藏龙岛的岛民。如有意见和建议，请微博联系或发送邮件到help#cld.life

> 藏龙岛位于武汉市江夏区东部，紧邻东湖新技术开发区，濒临风光秀丽的汤逊湖和碧波万顷的梁子湖，由3个半岛组成，总面积45.2平方公里。
> 武汉市江夏区汤逊湖，紧靠光谷，随着光谷的快速发展与扩张，汤逊湖边的小岛陆续进入人们的视线。
> 政府投资10亿多元用于基础设施和人文景观建设，构筑了“三横三纵”的道路骨架网络，总长达80多公里。
> 加上与光谷成交叉之势，有着强大的科技支撑，引进的74个项目，总投资额达160亿元，且大多以高科技产业为主导。

*/
        })) %>
      </div>
    </div>
  </div>
</div>
